<div>
    <div class="mb-4 flex items-center" *ngFor="let property of module.properties" >
      <label class="w-4/12 block text-sm font-medium leading-5 text-gray-500 truncate" style="text-transform: capitalize; " title="{{ property.key|separate }}">
        {{ property.key|separate }}
      </label>
      <div class="w-8/12 mt-1 relative rounded-md shadow-sm">
        <input
          *ngIf="property.inputType === 'text'"
          class="form-input block w-full sm:text-sm sm:leading-5"
          type="text"
          placeholder=""
          [(ngModel)]="property.value"
          name="{{ property.key}}">
        <ckeditor
          *ngIf="property.inputType === 'text-editor'"
          [editor]="editor"
          [data]="property.value"
          [(ngModel)]="property.value"
          [config]="editorConfig">
        </ckeditor>
        <input
          *ngIf="property.inputType === 'color-picker'"
          class="w-1/2"
          [(colorPicker)]="property.value"
          [cpPosition]="'bottom'"
          [style.background]="property.value"/>
        <div *ngIf="property.inputType === 'align-select'">
          <select [(ngModel)]="property.value" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            <option value="left">Left</option>
            <option value="middle">Middle</option>
            <option value="right">Right</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <div *ngIf="property.inputType === 'direction-select'">
          <select [(ngModel)]="property.value" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
            <option value="ltr">Left to Right</option>
            <option value="rtl">Right to Left</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button (click)="apply()" class="py-1 px-2 border m-auto border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue focus:bg-indigo-500 active:bg-indigo-600 transition duration-150 ease-in-out">
        Apply
      </button>
    </div>
</div>
